body{ 
    background-image: url("https://media.istockphoto.com/vectors/happy-fathers-day-fashion-seamless-pattern-vector-mustache-background-vector-id1060529908?k=20&m=1060529908&s=612x612&w=0&h=ETyaAzZWlWOTA_TM8hPFqSc1Mu2zuYgEmOn-Y_EKDyg=");
}

canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    
}

@keyframes example {
    from{
        box-shadow: 1px 1px 38px red;
    }
    to{
        box-shadow: 1px 1px 38px black;
    }
}